$sidebar-width: 180px;

@import "../../Assets/Styles/variables.scss";

.sidebar {
  overflow: hidden;
  left: 0;
  z-index: 10;
  height: 100vh;
  width: $sidebar-width;
  position: fixed;
  color: white;
  &_logo {
    background-color: $light-yellow;
  }
}
.sidebar-mobile {
  background-color: rgba($dark-blue, 1);
  position: fixed;
  top: -100vh;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 99;
  overflow-y: scroll;
  transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.1);

  &.active {
    top: 0;
  }
  &-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &-logo {
      img{
        filter: invert(90%) sepia(34%) saturate(1456%) hue-rotate(358deg) brightness(98%) contrast(96%);
      }
      .name{
        font-size: 1.5rem;  
        color: $light-yellow;
      }
    }
    &-links {
      align-self: center;
      width: 100%;
      border-top: 1px solid black;
      &-link {
        border-bottom: 1px solid black;
        border-left: none;
        border-right: none;
        width: 100%;
        padding: 10px;
        display: block;
        text-decoration: none;
        color: white;
        font-size: 1rem;
        transition: 0.2s;
        &:active{
          border-bottom: 1px solid $light-yellow;
        }
        &:hover{
          color: $light-yellow;
        }

       

      }
    }
    &-social{
      display: flex;
      list-style: none;

      li{
        padding: 10px;
        a{
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}
.sidebar-btn {
  position: fixed;
  top: 15px;
  right: 10px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.2rem;
  color: white;
  z-index: 100;
  transition: 0.5s;

  &:hover {
    scale: 1.3;
  }
}
.content {
  margin-left: $sidebar-width;
}
.about-me {
  background-color: $light-yellow;
  -color: $light-yellow;
}



@media (max-width: 992px) {
  .sidebar {
    display: none !important;
  }
  .content {
    margin-left: 0px !important;
  }
}

.bounce {
  animation: rubberBand 1s linear 1;
}
.space {
  width: 20px;
}

.globe-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  .globe {
    background-color: transparent;
    color: $light-yellow;
    .tagcloud--item {
      font-size: 1rem;
      opacity: 1;
    }
  }
}

@keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    -ms-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    -ms-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    -ms-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    -ms-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    -ms-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

#canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}


@media (max-width:560px) {
  .globe-container {
    .globe {
      .tagcloud--item {
        font-size: .8rem;
        opacity: 1;
      }
    }
  }
}
